<html lang="en">
  {% include "head.html" %}

  <body>
    {% include "nav.html" %}

    <div class="blogs content">
      <h2>All Blogs</h2>
      {% if length > 0 %} {% for value in data %}
      <a class="single" href="/details/{{ value.id }}">
        <h3 class="title">{{ value.title }}</h3>
        <p class="snippet">{{ value.content }}</p>
      </a>
      {% endfor %} {% else %}
      <p>There are no blogs to display....</p>
      {% endif %}
    </div>

    {% include "footer.html" %}
  </body>
</html>
